html {
  text-align: center;
  font-family: Helvetica;
}

.header p {
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.where p {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

p {
  font-size: 14px;
}

a {
  color: white;
  font-size: 18px;
}

.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
